<br>
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>This is Blocipedia!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Bloc</h2>
    <p>The Bloc.</p>
  </div>
  <div class="col-md-4">
    <h2>i</h2>
    <p>The i.</p>
  </div>
  <div class="col-md-4">
    <h2>pedia</h2>
    <p>The pedia.</p>
  </div>
</div>