.jumbotron h1 {
  color: brown;
  text-align: center;
  background-color: #0DB74B;
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow:5px 5px rgb(19, 129, 212);
 }

p {
  text-decoration: underline;
  text-transform: uppercase;
  color: rgb(19, 129, 212);
  text-align: center;
  color: black;
 }

p#index-title {
  background-color: #0DB74B;
  text-align: center;
  font-size: 15px;
 }

.wikis {
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 200px;
 }

section {
  border-style: solid;
  border-width: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
 }

